@media (min-width: 500px) {
  .section {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  div .date {
    height: 13vh;
  }
  p {
    font-size: 2.3rem;
  }
}

@media (min-width: 750px) {
  .section {
    align-items: center;
    justify-content: center;
  }

  div .task,
  div .date {
    width: 100%;
  }

  div .date {
    justify-content: center;
  }

  .task {
    justify-content: center;
  }

  /* There is a problem with font-size */
  button .main-btn {
    font-size: 4rem;
    padding: 1rem 3rem;
  }
  .task-input {
    font-size: 2rem;
    padding: 0.8rem 2.5rem;
  }

  .task-span {
    font-size: 2rem;
    padding: 0.8rem 2.5rem;
  }
}
